.fidgetContainer {
    width: 100%;
    height: 100%;
}

.fidget {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end; 
}

.airstripImage {
    width: 86%;
    height: auto;
    display: block;
    position: absolute;
    top: 42%; 
    left: 60%;
    transform: translate(-50%, -50%) rotate(-111deg); 
    box-shadow: 0px 0px 20px 2px rgba(253, 253, 246, 0.178);
}

.temperatureContainer {
    display: flex;
    flex-direction: column;
    align-items: left;
    height: 75%;
    background-color: #fac807;
    border-radius: 20px;
    z-index: 1;
    width: 20%;
    box-shadow: 0px 0px 5px 1px rgba(236, 236, 97, 0.555);
    margin-top: 7%;
    margin-right: 76%;
}

.temperatureValue {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5%;
    padding-top: 30%;
    padding-bottom: 30%;
    font-size: 12px;
    width: auto;
    height: auto;
    text-align: center;
    color: black;
}

.windIndicator {
    position: absolute;
    top: 6%;
    right: 3%;
    width: 25%;
    height: 30%;
    border-radius: 20px;
    background-color: #fac807;
    box-shadow: 0px 0px 5px 1px rgba(236, 236, 97, 0.555);
}

.windArrow {
    position: absolute;
    top: 30%;
    left: 50%;
    width: 40%;
    height: auto;
}

.windSpeed {
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 13px;
    color: black;
    text-align: center;
    white-space: nowrap;
}

.ball {
    position: absolute;
    width: 3%;
    height: 3%;
    border-radius: 50%;
    cursor: pointer;
    z-index: 2;
    box-shadow: 0px 0px 10px 1px rgba(194, 194, 192, 0.555);
}

.ball[data-siteid="52280"] {
    top: 16%;
    left: 47%;
}

.ball[data-siteid="52437"] {
    top: 39%;
    left: 57%;
}

.ball[data-siteid="52281"] {
    top: 63%;
    left: 68%;
}

.tooltip {
    display: none;
    position: absolute;
    bottom: 25px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #fac807;
    color: #000000;
    padding: 5px;
    border-radius: 10px;
    border-color: #fac807;
    white-space: nowrap;
    z-index: 3;
    text-align: center;
    font-size: 11px;
}

.ball:hover .tooltip {
    display: block;
}

.footer {
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    bottom: 0;
    width: 100%;
    height: 6%;
    background-color: #fac807;
    border-radius: 0px 0px 8px 8px;
    box-shadow: 0px 0px 5px 1px rgba(236, 236, 97, 0.555);
    left: 0%;
    padding-left: 1%;
    padding-right: 1%;
}