.fidgetContainer {
    width: 100%;
    height: 100%;
}

.fidget {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    padding: 5px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end; 
}

.airstripImage {
    width: 80%;
    height: auto;
    display: block;
    position: absolute;
    top: 38%; 
    left: 45%;
    transform: translate(-50%, -50%) rotate(-111deg); 
    box-shadow: 0px 0px 20px 2px rgba(253, 253, 246, 0.178);
}

.temperatureContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 15%;
    background-color: #fac807;
    border-radius: 40px;
    padding: 5%;
    z-index: 1;
    width: 90%;
    margin: 0 auto;
    box-shadow: 0px 0px 5px 1px rgba(236, 236, 97, 0.555);
}

.temperatureValue {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5px;
    font-size: 21px;
    width: 45%;
    text-align: center;
    color: black;
    
}

.windIndicator {
    position: absolute;
    top: 0%;
    right: 0%;
    width: 25%;
    height: 30%;
    border-radius: 30px;
    background-color: #fac807;
    box-shadow: 0px 0px 5px 1px rgba(236, 236, 97, 0.555);
}

.windArrow {
    position: absolute;
    top: 30%;
    left: 50%;
    width: 40%;
    height: auto;
}

.windSpeed {
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 13px;
    color: black;
    text-align: center;
    white-space: nowrap;
}

.ball {
    position: absolute;
    width: 4%;
    height: 4%;
    border-radius: 50%;
    cursor: pointer;
    z-index: 2;
    box-shadow: 0px 0px 10px 1px rgba(194, 194, 192, 0.555);
}

.ball[data-siteid="52280"] {
    top: 12%;
    left: 32%;
}

.ball[data-siteid="52437"] {
    top: 35%;
    left: 42%;
}

.ball[data-siteid="52281"] {
    top: 59%;
    left: 53%;
}

.tooltip {
    display: none;
    position: absolute;
    bottom: 25px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #fac807;
    color: #000000;
    padding: 5px;
    border-radius: 10px;
    border-color: #fac807;
    white-space: nowrap;
    z-index: 3;
    text-align: center;
    font-size: 11px;
}

.ball:hover .tooltip {
    display: block;
}