/* WindAnimation.module.css */
.windContainer {
    position: absolute;
    width: 90%;
    height: 40%;
    margin: 10%;
  }
  
  .wind {
    position: absolute;
    top: 20%;
    left: 25%;
    transform: translate(-50%, -50%);
  }
  
  .windLine {
    display: block;
    width: 40px;
    height: 2px;
    background-color: #000000;
    margin: 8px 0;
    animation: move var(--windSpeed, 1s) linear infinite;

  }

  .windLine::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 100%;
    transform: translateY(-50%) rotate(180deg);
    border: 5px solid transparent;
    border-left: none;
    border-right-color: #000000;
  }
  
  .windLine:nth-child(2) {
    animation-delay: calc(var(--windSpeed, 1s) * 0.3);
  }
  
  .windLine:nth-child(3) {
    animation-delay: calc(var(--windSpeed, 1s) * 0.6);
  }
  
  @keyframes move {
    0% {
      transform: translateX(-20px);
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      transform: translateX(20px);
      opacity: 0;
    }
  }