.box {
    height: 100%;
    font-family: 'Segoe UI', sans-serif;
    font-size: 1rem;
    max-height: 100%;
    background: rgb(108, 100, 80);
    background: linear-gradient(
        0deg,
        rgba(108, 100, 80, 1) 0%,
        rgba(34, 33, 29, 1) 100%
    );
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 0.8rem;
    box-shadow: 0px 0px 20px 2px rgba(43, 43, 42, 0.555);
    overflow: hidden;
    border-radius: 24px;
    padding: 0.5rem;
    min-width: 25vw;

    @media screen and (min-width: 1500px) {
        font-size: 1.3rem;
        padding: 1rem 0.5rem;
    }

    @media screen and (min-width: 2000px) {
        font-size: 2rem;
    }

    @media screen and (min-width: 3000px) {
        font-size: 3rem;
    }
}

.imgcontainer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.nowImage {
    width: 6em;
    height: auto;
}

.image {
    width: 3.5em;
    height: auto;
}

.fade {
    animation: fadeIn 2s;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.h1 {
    display: flex;
    justify-content: center;
}

.weatherInfo {
    display: flex;
    justify-content: space-evenly;
    border-radius: 24px;
}

.LocationAndTemp {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.iconName {
    font-size: 22px;
    transform: translateY(-5px);
}

.location {
    display: flex;
    align-items: center;
    gap: 0.5em;
    font-weight: 300;
}

.temp {
    font-size: 2em;
    font-weight: bold;
    font-weight: 300;
    gap: 10px;
}

.forecastAndh3 {
    display: flex;
    flex-direction: column;
}

.average {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
}

.averageRow {
    display: flex;
    flex-direction: row;
}

.averageWeatherDetails {
    padding-left: 5px;
}

.weatherData {
    display: flex;
    flex-direction: column;
    align-self: center;
    width: 80%;
}

.weatherDataItem {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.h3 {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.forecastContainer {
    display: flex;
    flex-direction: column;
    background-color: #33322c;
    border-radius: 20px;
    box-shadow: inset 130px -146px 123px -170px rgba(0, 0, 0, 1);
}

.AvaragesContainer {
    display: flex;
    justify-content: space-evenly;
}

.dailyAvarages {
    margin-top: 5px;
    padding: 5px;
    border-radius: 8px;
}

.dailyAvgCard {
    padding: 2px;
    border-radius: 8px;
}

.dailyAvgCard:hover {
    transform: scale(1);
}

.dailyAvgHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dateLabel {
    font-size: 0.5em;
}

.temperature {
    font-size: 5em;
}

.dailyAvgContent {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.dailyAvgContent div {
    font-size: 5em;
}

.noData {
    font-size: 5em;
    text-align: center;
}
