.box {

    
    
    height: 100%; 
    font-family: "Segoe UI", sans-serif;
    font-size: 25px;
    max-height: 100%; 
    background: rgb(108,100,80);
    background: linear-gradient(0deg, rgba(108,100,80,1) 0%, rgba(34,33,29,1) 100%);
    color: white;
    display: flex;
    flex-direction: column;
    gap: 0.6rem; 
    box-shadow: 0px 0px 20px 2px rgba(43, 43, 42, 0.555);
    overflow: hidden;
    border-radius: 24px;
    
  }



    


.imgcontainer{
    display: flex;      
    justify-content: space-between;
    flex-direction: column;   
    align-items: center;        
    
    
}
.infoAndobservationLeft {
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    align-self: flex-start;
    flex-grow: 0.2;
    
}

.infocontainerLeft{
    font-weight: bold;
    display: flex;
    flex-direction: column; 
}
.observationLeft{
    display:  flex;
    flex-direction: column;
}
.infoAndAvarage{
    display: flex;
    justify-content: space-between;
    width: 100%;
    
}



.infocontainerRight{
    display: flex;
    flex-direction: column;
    font-weight: bold;
    
}
.observationRight{
    display: flex;
    flex-direction: column;
}
.infoAndobservationRight{
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    flex-grow: 0.2;
    
}

.fade{
    animation: fadeIn 2s;
}

.left {
    display: flex;
    flex-direction: column;
}

.right{
    display: flex;
    flex-direction: column;
    font-weight: 500;
    font-size: x-small;
}

@keyframes fadeIn {
    from {
        opacity: 0; 
    }
    to {
        opacity: 1;
    }
}
.h1{
    display: flex;
    justify-content: center;
}

.weatherInfo {
    display: flex;    
    justify-content: space-evenly;    
    border-radius: 24px;  
    
          
}
.LocationAndTemp {
    display: flex;
    justify-content: center;
    flex-direction: column;
}



.iconName {
    font-size: smaller;
    transform: translateY(-15px);
}

.location {
    display: flex;
    align-items: center;         
    font-size: 0.9rem;         
    gap: 0.5rem; 
    font-weight: 300;
    font-size: 15px;             
          
}
.text{
    font-size: 20px;
}




.temp {
    font-size: 40px;
    font-weight: bold;
    font-weight: 300;
    gap: 10px;
}
.forecastAndh3{
    display: flex;
    flex-direction: column;
}

.AvargeFirst{
    display: flex;
    flex-direction: column;
    align-items: center;

    
    padding: 5px;
}

.AvargeSecond{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
}
.h3{
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: medium;
}
.forecastContainer{
    display: flex;
    flex-direction: column;
    background-color: #33322c;
    border-radius: 20px;
    box-shadow: inset 130px -146px 123px -170px rgba(0,0,0,1);
    margin: 0 10px;

}

.infoAndAvarage{
    display: flex;
    justify-content: space-evenly;
    align-items: baseline;
}
.AvaragesContainer{
    display: flex;
    justify-content: space-evenly;
    font-size: small;
    
    
    
}


.dailyAvarages {
    margin-top: 5px;
    padding: 5px;
    border-radius: 8px;

}
.dailyAvgCard {
    padding: 2px;
    border-radius: 8px;
}
.dailyAvgCard:hover {
    transform:  scale(1);
}
.dailyAvgHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.dateLabel {
    font-size: 1px;
}
.temperature {
    font-size: 1px;
}
.dailyAvgContent {
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.dailyAvgContent div {
    font-size: 1pt;
}
.noData {
    font-size:  1pt;
    text-align: center;
}