.radarContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 100%;
    font-size: 1rem;

    @media screen and (min-width: 1400px) {
        font-size: 1.2rem;
    }

    @media screen and (min-width: 1700px) {
        font-size: 1.5rem;
    }

    @media screen and (min-width: 2000px) {
        font-size: 1.9rem;
    }

    @media screen and (min-width: 3000px) {
        font-size: 3rem;
    }
}

.radarFooter {
    color: white;
    font-size: 0.7em;
}
